
.sign-in {
    background-color: #12002b;
    flex: 1;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .sign-in__content {
        box-sizing: border-box;
        background-color: white;
        width: 300px;
        margin: 90px auto;
        padding: 2rem;
        min-height: 360px;
        .fa {
            display: inline-block;
            font: normal normal normal 14px / 1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: #2c3e50;
        }
        .input-wrapper {
            display: flex
        ;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;
        }
        .input-wrapper label {
            font-weight: bold;
        }
        .input-wrapper input {
            padding: 5px;
            font-size: 1.2rem;
        }
        .sign-in__button {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border-color: #00bc77;
            background-color: #00bc77;
            color: #fff;
        }
    }
}
h1 {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
